/* OVERALL APPLICATION STYLES */
* {
    margin: 0%;
    padding: 0%;
}

/* SEARCH BAR STYLES */

#searchBar {
    width: 30vw;
}

/* CARD RESULT TITLE STYLES */

.card-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-variant: small-caps;
    word-break: keep-all;
}

/* CARD RESULT TEXT STYLES */

.card-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* CARD RESULT OVERALL STYLES ! */

.result-card {
    display: flex;
    height: 460px;
    width: 700px;
    margin-left: 26%;
    margin-top: 2%;
    border-radius: 2%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    overflow: hidden;
    background-color: #eee;
}

/* RESULT BODY STYLINGS */

.card-body {
    display: flex;
    flex-direction: column;
    line-height: 3rem;
}

/* FAVOURITES BUTTON STYLE  */

#favbtn {
    margin-bottom: 5px;

}

/* CARDS ABOVE TITLE STYLING */

.title {
    display: flex;
    justify-content: center;
    margin: 1%;
    max-width: 100%;
    margin-left: 27%;
}