* {
    margin: 0%;
    padding: 0%;
}


#searchBar {
    width: 30vw;
}

.card-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-variant: small-caps;
    word-break: keep-all;
}

.card-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}